body, input {
    background-color: #222;
    color: #eee;
    border: none ;
    font-family: 'Inconsolata', monospace;
} 
.terminal {
    position:fixed ;
    bottom :0;
    left:0;
    padding: 1em;
    margin:0;
    background-color: #222;
    width:100%;
}

.terminal input {
    height: 2em;
    padding-left: .5em;
}
.terminal input:active {
    border: none;
}

#screen {
    padding-bottom: 4em;
    color:#eee;
}
canvas {    
    display: none;    
    margin: 0 auto;     
    width: 100%;     
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
    }

.error {
    color: #f00;
}
.success {
    color: #0f0;
}

progress {
    background-color: #222;
    border: none;
    color: #eee;
    margin-right: 1em;
}

progress::-webkit-progress-bar {
    background:#222;
}  
progress::-webkit-progress-value {  
  background: #eee;
}

progress::-moz-progress-bar {
    background:#222;
}  
progress::-moz-progress-value {  

  background: #eee;
}
